<!DOCTYPE htmlclass="pull-right" >
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/style.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/headers/header1.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/responsive.css">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/plugins/fancybox/source/jquery.fancybox.css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/pages/page_magazine.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/themes/default.css" id="style_color">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>

<!--=== Top ===-->
<div class="top">
    <div class="container">
        <ul class="loginbar pull-right">
            <li>
                <i class="icon-globe"></i>
                <a>Languages</a>
                <ul class="lenguages">
                    <li class="active">
                        <a href="#">English <i class="icon-ok"></i></a>
                    </li>
                    <li><a href="#">French</a></li>
                </ul>
            </li>
            <!--
            <li class="devider"></li>
            <li><a href="page_faq.html">Help</a></li>
            -->
        </ul>
    </div>
</div><!--/top-->
<!--=== End Top ===-->

    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!--
            <a class="navbar-brand" href="index.html">
              <img id="logo-header" src="{{ ASSET_PATH }}/img/logo1-default.png" alt="Logo">
            </a>
            -->
            <a class="navbar-brand" href="{{ HOME_PATH }}"><img id="logo-header" src="{{ ASSET_PATH }}/../../images/logo_ACHIA_100.png" alt="Logo" /></a>
          </div>

          <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include JB/pages_list %}
              <!--
              <li class="hidden-sm"><a class="search"><i class="icon-search search-btn"></i></a></li>
              -->
            </ul>
            <div class="search-open">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
              </div><!-- /input-group -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- /header -->

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs margin-bottom-20">
    <div class="container">
      <h1 class="pull-left">{{ page.title }}</h1>
      <!--
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Blog</a></li>
            <li class="active">Blog Full Width</li>
        </ul>
      -->
    </div>
  </div><!--/breadcrumbs-->

    <div class="container">

      <div class="margin-bottom-40">

        {{ content }}

      </div>
    </div>

  <div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>About</h2></div>
                <p class="margin-bottom-25 md-margin-bottom-40">The Air Pollution and Climate Change Health Impact Assessment project investigates the future evolution of the health burden of air pollution, in a context of changing climate.</p>

            </div><!--/col-md-4-->

            <div class="col-md-4 md-margin-bottom-40">
                <div class="posts">
                    <div class="headline"><h2>News</h2></div>
                <!--
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                        </dd>
                    </dl>
                -->
                </div>
            </div><!--/col-md-4-->

            <div class="col-md-4">
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Contact Us</h2></div>
                <address class="md-margin-bottom-40">
                  <!--
                    25, Lorem Lis Street, Orange <br />
                    California, US <br />
                  -->
                    Email: <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
                </address>

                <!-- Stay Connected -->
                <!--
                <div class="headline"><h2>Stay Connected</h2></div>
                <ul class="social-icons">
                    <li><a href="{{ BASE_PATH }}{{ site.JB.atom_path }}" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                    <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                    <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                </ul>
                -->
            </div><!--/col-md-4-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/footer-->
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright-space">
                    &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
                    <!--
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    -->
                    <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
                </p>
            </div>
                  <!--
            <div class="col-md-6">
                <a href="index.html">
                    <img id="logo-footer" src="{{ ASSET_PATH }}/img/logo2-default.png" class="pull-right" alt="" />
                    <img id="logo-header" src="{{ ASSET_PATH }}/../../images/logo_ACHIA_text20.png" class="pull-right" alt="Logo" />
                </a>
            </div>
                  -->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->


<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{ ASSET_PATH }}/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{ ASSET_PATH }}/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ ASSET_PATH }}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ ASSET_PATH }}/plugins/hover-dropdown.min.js"></script>
<script type="text/javascript" src="{{ ASSET_PATH }}/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ ASSET_PATH }}/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="{{ ASSET_PATH }}/plugins/respond.js"></script>
<![endif]-->

    {% include JB/analytics %}
  </body>
</html>
